<div [@fadeInBottom]="{ value: '', params: { delay: (index() + 1) * 100 + 'ms' }}"
     class="group flex flex-col text-center items-center gap-2 cursor-pointer">

  <div [class.selectedBox]="selected()"
       class="image-box group-hover:after:border-solid h-[150px] w-[150px] lg:h-[200px] lg:w-[200px]">
    <img rigid
         class="rounded"
         [ngSrc]="profile().imgUrl"
         fill=""
         alt="">
  </div>

  <span class="text-md md:text-xl text-[#808080] group-hover:text-white">{{ profile().name }}</span>
</div>
