// http://mcg.mbitson.com/

$primary: (
  50 : #fce1e3,
  100 : #f7b5b9,
  200 : #f2848a,
  300 : #ed535b,
  400 : #e92e37,
  500 : #e50914,
  600 : #e20812,
  700 : #de060e,
  800 : #da050b,
  900 : #d30206,
  A100 : #fffbfb,
  A200 : #ffc8c8,
  A400 : #ff9595,
  A700 : #ff7b7c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent: (
  50 : #e4e4e4,
  100 : #bdbcbc,
  200 : #918f8f,
  300 : #646262,
  400 : #434141,
  500 : #221f1f,
  600 : #1e1b1b,
  700 : #191717,
  800 : #141212,
  900 : #0c0a0a,
  A100 : #ff5252,
  A200 : #ff1f1f,
  A400 : #eb0000,
  A700 : #d20000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$warn: (
  50 : #fcefe1,
  100 : #f8d8b3,
  200 : #f4be81,
  300 : #efa34f,
  400 : #eb9029,
  500 : #e87c03,
  600 : #e57403,
  700 : #e26902,
  800 : #de5f02,
  900 : #d84c01,
  A100 : #ffffff,
  A200 : #ffdbcd,
  A400 : #ffb79a,
  A700 : #ffa480,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
