<div class="relative flex flex-col h-full w-full z-10 overflow-auto">

  <div class="p-10 flex justify-center sm:justify-start">
    <app-netflix-logo/>
  </div>

  <!--  Card container-->
  <div class="flex flex-col flex-1 items-center pt-2 pb-28 px-2">
    <!--  Card -->
    <div class="flex flex-col gap-8 p-6 sm:p-16 w-full max-w-[450px] rounded bg-transparent-black text-white">

      <span class="text-3xl">S'identifier</span>

      <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">

        <mat-form-field>
          <mat-label>E-mail ou numéro de téléphone</mat-label>
          <input matInput formControlName="login">
          @if (form.controls['login'].getError('required') || form.controls['login'].getError('email')) {
            <mat-error>Veuillez enter une adresse e-mail ou un numéro de téléphone valide.</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password">
          @if (form.controls['password'].getError('required')) {
            <mat-error>Votre mot de passe doit comporter entre 4 et 60 caractères.</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button color="primary">S'identifier</button>

        <div class="flex items-center">

          <mat-checkbox formControlName="remember" class="flex-1">
            <span class="text-sm text-[#b3b3b3]">Se souvenir de moi</span>
          </mat-checkbox>

          <span class="text-xs text-[#b3b3b3] cursor-pointer">Besoin d'aide ?</span>
        </div>
      </form>

      <div class="flex justify-center">
        <app-credit/>
      </div>
    </div>
  </div>

  <footer
    class="flex flex-row justify-center p-10 bg-transparent-black border-[#737373] border-solid border-0 border-t-2 sm:border-0">

    <div
      class="flex flex-col flex-1 gap-10 max-w-[1000px] text-[#737373]">

      <span>Des questions ?</span>

      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-sm gap-4 [&>span]:cursor-pointer">
        <span>FAQ</span>
        <span>Centre d'aide</span>
        <span>Boutique Netflix</span>
        <span>Conditions d'utilisation</span>
        <span>Confidentialité</span>
        <span>Préférences de cookie</span>
        <span>Mentions légales</span>
        <span>Choix liés à la pub</span>
      </div>

      <div>
        <mat-form-field>
          <mat-icon matPrefix>language</mat-icon>
          <mat-select [formControl]="langControl">
            @for (lang of langs; track $index) {
              <mat-option [value]="lang">{{ lang }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </footer>
</div>

<div class="h-full w-full left-0 top-0 absolute overflow-hidden">
  <div @loginBackgroundEnter class="login-background h-full w-full"></div>
</div>
